.login-background {
    height: 100%;
    background: url("../../assets/sfsufountain.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-form {
    background: white;
    padding-top: 1%;
    padding-right: 2% !important;
    padding-left: 2% !important;
    padding-bottom: 2%;
}

.login-height-100 {
    height: 100% !important;
}

.login-button {
    background-color: #ACACDE !important;
    border-color: #ACACDE !important;
    color: black !important;
}

.login-button:hover {
    background-color: #8c8cbf !important;
}

@media (min-width: 992px) {
    .login-form {
        width: 25% !important;
    }
}